:root {
    --cinza-subtitle: rgb(128, 128, 128);
    --cinza-subtitle-escuro: rgb(85, 85, 85);
    --cinza-claro: #F0F0F0;
    --cinza-mediano: #2D2D2D;
    --cinza-escuro: #1D1D1D;
    --verde-claro: #549E36;
    --verde-escuro: #44812c;
}

* {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0 auto;
}

body {
    background-color: var(--cinza-claro);
}

/* Sections */
.container {
    padding-top: 90px;
    padding-bottom: 90px;
}

/* Buttons */
.btn {
    background-color: var(--verde-claro);
    padding: 20px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    color: var(--cinza-claro);
    font-weight: 500;
    font-size: 1rem;
    width: 230px;
    transition: 0.3s ease-in-out;
}

.btn:hover{
    background-color: var(--verde-escuro);
    transform: scale(1.05);
}

/* Navbar */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    background-color: var(--cinza-mediano);
}

.navbar h1 {
    color: var(--cinza-claro);
    font-size:1.8rem;
    font-weight: bold;
}

.navbar-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
}

.navbar-list li a{
    text-decoration: none;
    color: var(--cinza-claro);
}

.navbar-list li {
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.navbar-list li:hover {
    transform: scale(1.05);
    background-color: var(--verde-claro);
}

/* Banner */
.banner {
    padding-top: 200px;
    background-color: var(--cinza-escuro);
}

.banner div {
    padding-bottom: 5%;
}

.banner-title {
    font-size: 2.3rem;
    color: var(--cinza-claro);
    letter-spacing: 0.5px;
    font-weight: 600;
}

.banner-subtitle {
    color: var(--cinza-subtitle);
    font-size: 1.3rem;
}

/* Cards */

.card-title {
    margin-bottom: 20px;
}

.card-title h1{
    font-size:2.3rem;
    font-weight: 600;
    color: var(--cinza-escuro);
}

.card-title p{
    font-size:1.3rem;
    color: var(--cinza-subtitle-escuro);
}

.card-list {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 3%;
}

.card-icon {
    margin: 40px;
}

.card-icon i {
    font-size: 50px;
    color: rgb(109, 109, 109);
}

.card {
    border: 2px solid rgb(214, 214, 214);
    border-radius: 10px;
    padding: 20px;
    width: 20%;
    height: 100%;
    margin: 0;
}

.card-text {
    color: rgb(128, 128, 128);
    font-size: 0.95rem;
    line-height: 2rem;
    width: 90%;
}

/* Info Section */

.info-container {
    background-color: var(--verde-claro);
    color: var(--cinza-claro);
}

.info-title {
    font-size: 2.3rem;
    font-weight: 600;
}

.info-subtitle {
    font-size: 1.3rem;
    color: rgb(207, 207, 207);
}

.info-description {
    padding: 40px;
    font-size: 0.95rem;
    line-height: 2rem;
    width: 50%;
    color: rgb(214, 214, 214);
}

.info-description span {
    text-decoration: underline;
    color: var(--cinza-claro);
    font-weight: 600;
}

.info-container-button {
    background-color: var(--cinza-claro);
    color: var(--verde-claro);
}

.info-container-button:hover {
    background-color: var(--cinza-claro);
    color: var(--verde-claro);
}

/* Info 2 Section */
.info2-title {
    color: var(--cinza-escuro);
    font-size: 2.3rem;
    font-weight: 600; 
}

.info2-subtitle {
    font-size: 1.3rem;
    color: var(--cinza-subtitle-escuro);
}

.info2-description {
    padding: 40px;
    font-size: 0.95rem;
    line-height: 2rem;
    width: 50%;
    color: var(--cinza-subtitle-escuro);
}

/* Footer */

footer {
    background-color: var(--cinza-mediano);
    color: var(--cinza-subtitle);
}

footer div p {
    font-size: 0.95rem;
}

footer div p span {
    color: var(--cinza-claro);
}

